body {
    color:Gray;
    background-color:LightPink;
}
h1 {color:PaleVioletRed; background-color:Pink}
h2{color:PaleVioletRed; background-color:Pink}
a{color:PaleVioletRed; background-color:Pink}